*.xcuserstate
*.xcscheme
*.plist
*.xccheckout
*.filters
*.o
*.xcworkspacedata
*.make
*.cmake
*.includecache
*.internal
*.marks
*.bin
*.d
*.dia
*.hmap
*.log
*.dat
*.LinkFileList
*.so
*.vcxproj
*.pyc
*.dll
*.pyd
CMakeFiles
cmake-build-debug
cmake-build-release
.idea
.ipynb_checkpoints
.vscode
.python-version
.pytest_cache/
delfem2.egg-info
buildXcode
buildMake
build
trash
external/fbx
projects_sub
site
examples_cpp/bin
private_examples
desktop.ini
examples_py/*.vtk
pyenv
myenv
__pycache__
dist
PyDelFEM2.egg-info
pydelfem2.egg-info
