[submodule "3rd_party/imgui"]
	path = 3rd_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rd_party/tinygltf"]
	path = 3rd_party/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "3rd_party/glfw"]
	path = 3rd_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd_party/googletest"]
	path = 3rd_party/googletest
	url = https://github.com/google/googletest.git
[submodule "3rd_party/cnpy"]
	path = 3rd_party/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "3rd_party/cereal"]
	path = 3rd_party/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "3rd_party/alembic"]
	path = 3rd_party/alembic
	url = https://github.com/alembic/alembic
[submodule "3rd_party/zlib"]
	path = 3rd_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "3rd_party/eigen"]
	path = 3rd_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rd_party/Imath"]
	path = 3rd_party/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
[submodule "3rd_party/ImGuiFileDialog"]
	path = 3rd_party/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "3rd_party/pugixml"]
	path = 3rd_party/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "3rd_party/stb"]
	path = 3rd_party/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd_party/openvdb"]
	path = 3rd_party/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb
