[submodule "src_cpp/external/glfw"]
	path = src_cpp/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src_cpp/external/stb"]
	path = src_cpp/external/stb
	url = https://github.com/nothings/stb
[submodule "src_cpp/external/eigen-git-mirror"]
	path = src_cpp/external/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "src_pybind/pybind11"]
	path = src_pybind/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
