.DS_Store
*.xcuserstate
*.xcscheme
*.plist
*.xccheckout
*.filters
*.o
*.xcworkspacedata
*.make
# *.cmake
*.includecache
*.internal
*.marks
*.bin
*.d
*.dia
*.hmap
*.log
*.dat
*.LinkFileList
*.so
*.a
*.vcxproj
*.sln
*.pyc
*.dll
*.lib
*.pyd
*.cbp
*.exe
*.egg-info
CMakeFiles
cmake-build-debug
cmake-build-release
cmake-build-*
CMakeCache.txt
.idea
.vscode
delfem2.egg-info
buildXcode
buildXcodeHdronly
buildXcodeStatic
buildMake
buildMakeHdronly
buildMakeStatic
buildVS
buildVS32
buildVS64
buildVS64Static
buildVS64Hdronly
buildEm
build
trash
external/fbx
projects_sub
site
examples_cpp/bin
private_examples
private_example
desktop.ini
imgui.ini
test_inputs/basicModel_f_lbs_10_207_0_v1.0.0.pkl
test_inputs/basicModel_m_lbs_10_207_0_v1.0.0.pkl
test_inputs/smpl_model_f.npz
test_inputs/smpl_model_m.npz

3rd_party/GLFW_Lib
3rd_party/libglfw
3rd_party/glfwlib

3rd_party/libopenexr
3rd_party/OpenEXR_Lib
3rd_party/openexr-2.5.2
3rd_party/openexr.zip

3rd_party/Alembic_Lib
3rd_party/libalembic
3rd_party/alembiclib

3rd_party/GTest_Lib
3rd_party/libgtest
3rd_party/gtestlib

3rd_party/eigen-*
3rd_party/Eigen_Lib
3rd_party/libeigen
3rd_party/eigenlib

3rd_party/Imathlib

examples_oldgl_glfw_cnpy/14_ClothPoseTexture/body.obj
examples_oldgl_glfw_cnpy/14_ClothPoseTexture/cloth.obj
examples_oldgl_glfw/dfm2_static_glfwold/libdfm2_static_glfwold.a*
examples_newgl_glfw/dfm2_static_glfwnew/libdfm2_static_glfwnew.a*
examples_cuda/005_ImageGrayscaleSobel/lenna_gray.png
examples_cuda/005_ImageGrayscaleSobel/lenna_dx.png
examples_cuda/005_ImageGrayscaleSobel/lenna_dy.png
