*.xcuserstate
*.xcscheme
*.plist
*.xccheckout
*.obj
*.filters
*.o
*.xcworkspacedata
*.make
*.cmake
*.includecache
*.internal
*.marks
*.bin
*.d
*.dia
*.hmap
*.log
*.dat
*.LinkFileList
*.so
*.vcxproj
*.pyc
CMakeFiles
cmake-build-debug
cmake-build-release
.idea
.ipynb_checkpoints
.vscode
delfem2.egg-info
buildXcode
buildMake
build
trash
external/fbx
projects_sub
site
examples_cpp/bin
private_examples