include setup.py

recursive-include src_cpp/cpp *
recursive-include src_cpp/include *

recursive-include src_cpp/external/eigen-git-mirror/Eigen *
include src_cpp/external/eigen-git-mirror/COPYING.MPL2

recursive-include src_pybind/pybind11/include *.h
recursive-include src_pybind/pybind11/tools *
include src_pybind/pybind11/LICENSE
include src_pybind/pybind11/CMakeLists.txt

include src_pybind/core/*.cpp
include src_pybind/core/CMakeLists.txt
include src_pybind/eigen/*.cpp
include src_pybind/eigen/CMakeLists.txt
include src_pybind/gl/*.cpp
include src_pybind/gl/CMakeLists.txt

exclude PyDelFEM2/c_core.*
exclude PyDelFEM2/gl/c_gl.*
exclude PyDelFEM2/eigen/c_eigen.*